body{
          background-color: white;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;


     }
     .game-container{
          margin-top: 100px;
          width: 650px;
          height: 800px;
          background-color: rgb(183, 243, 94);
          color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
          border: none;
          border-radius: 35px;


     }

     .game-title{
          color:black;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 50px;
     }
     .presults1{
         font-size: 25px;
         font-weight: bold; 
         margin-top: 50px;
         text-align: center;
     }
     .icon{
          height: 100px;
        
     }
     .move-button{
          background: black;
          border: 3px solid white;
          padding: 32px;
          margin-right: 10px;
          border-radius: 50%;
     }
     .pmoves1,.p-button1{
          font-size: 25px;
          text-align: center;
     }
     .reset-btn,.auto-btn{
          background-color: black;
          color: white;
          font-size: 25px;
          border: none;
          padding: 8px 15px;
          cursor:pointer;
          border-radius: 15px;
          margin: 50px 10px;
     }
     @media(max-width : 566px){
          .icon{
               height: 70px;
               
          }
          .game-container{
               
               margin-top: 20px;
          }
          .move-button{
               padding: 10px;
          }
     }
     @media (max-width :376px) {
          .icon{
               height: 60px;
          }
          .reset-btn,.auto-btn{
               font-size: 16px;
          }
          .move-button{
               padding: 5px;
          }
          .game-container{
            height: 550px;
          }
     }